---
import Mark from './illustrations/Mark.astro';
---

<div class="loading-indicator" aria-hidden="true">
    <Mark variant="icon" class="loading-indicator__mascot" />
    <div class="loading-indicator__brand">aidan</div>
</div>
