---
import HankoMark from './HankoMark.astro';
---

<div class="loading-indicator" aria-hidden="true">
    <div class="loading-indicator__brand">aidan</div>
    <span class="loading-indicator__hanko">
        <HankoMark label="AT" size={56} />
    </span>
</div>
