---
---

<div class="outer-frame" aria-hidden="true">
    <div class="outer-frame__top-right">
        <span class="outer-frame__dot outer-frame__dot--off"></span>
        <span class="outer-frame__dot outer-frame__dot--on"></span>
        <span class="outer-frame__label">v.26</span>
    </div>

    <div class="outer-frame__scrollbar">
        <div class="outer-frame__scroll-track"></div>
        <div class="outer-frame__scroll-thumb" data-scroll-thumb></div>
    </div>
</div>
