---
---

<div class="vhs-accent" aria-hidden="true">
    <div class="vhs-accent__bar">
        <span class="vhs-accent__rec">
            <span class="vhs-accent__rec-dot"></span>
            REC
        </span>
        <span class="vhs-accent__name">aidan_26.tape</span>
    </div>

    <div class="vhs-accent__screen">
        <span class="vhs-accent__text">at</span>
        <span class="vhs-accent__sub">
            <span>tag.001</span>
            <span>side a / 90 min</span>
        </span>
        <div class="vhs-accent__scanlines"></div>
        <div class="vhs-accent__sweep"></div>
    </div>

    <div class="vhs-accent__footer">
        <span class="vhs-accent__time" data-vhs-time>00:00:00:00</span>
        <span class="vhs-accent__sp">SP / NTSC</span>
    </div>
</div>
