---
import { fetchRecentPosts, formatPostDate } from '../lib/rss';

const posts = await fetchRecentPosts(5);
---

<section id="writing" class="section section--writing">
    <div class="section__header">
        <div class="section__heading">
            <span class="section__num">04</span>
            <h2 class="section__title">writing</h2>
        </div>
        <a
            href="https://blog.aidantraboulay.dev"
            target="_blank"
            rel="noopener"
            class="section__link"
        >
            <span>all posts</span>
            <span aria-hidden="true">↗</span>
        </a>
    </div>

    <ul class="post-list">
        {
            posts.map((post, i) => (
                <li class="post-list__item animate-fade-in-up">
                    <a href={post.link} target="_blank" rel="noopener" class="post-list__link">
                        <span class="post-list__index">
                            {String(i + 1).padStart(2, '0')}
                        </span>
                        <span class="post-list__body">
                            <span class="post-list__title">{post.title}</span>
                            {post.description && (
                                <span class="post-list__desc">{post.description}</span>
                            )}
                        </span>
                        <span class="post-list__date">{formatPostDate(post.date)}</span>
                        <span class="post-list__arrow" aria-hidden="true">
                            ↗
                        </span>
                    </a>
                </li>
            ))
        }
    </ul>
</section>
