@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background: 
        url('https://wallpapercave.com/wp/wp3354896.jpg'),
        linear-gradient(145deg, #2e2d33, #484746, #615c62);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    overflow: auto;
}

.dot-grid {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-image: radial-gradient(rgba(229, 231, 235, 0.1) 1px, transparent 1px);
    background-size: 32px 32px;
    pointer-events: none;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-right {
    animation: fadeInRight 0.5s forwards;
}